<div class="container">
	<div class="row">
		<!-- This block is the one that needs to be repeated -->
		<div class="col-1 border" style="width: 240px" *ngFor="let char of characters">
			<div class="row mh-100">
				<img alt="" src="{{char.image}}" style="width: 240px;" />
			</div>
			<div class="row">
				<p class="text-center">{{char.name}}</p>
			</div>
			<div class="row">
				<div class="d-grid gap-2">
					<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#myModal"
						(click)="getCharacterDetail(char.id)">See more</button>

				</div>
			</div>
		</div>
		<!-- End of block that needs to be repeated -->
	</div>

</div>

<!-- The Modal -->
<div class="modal" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Character</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<ng-container *ngIf="characterDetails">
					<p>Id: {{characterDetails.id}}</p>
					<p>Name: {{characterDetails.name}}</p>
					<p>Type: {{characterDetails.type}}</p>
					<ng-container *ngIf="characterDetails.origin">
						<p>Origin: {{characterDetails.origin.name}}</p>
					</ng-container>
					<p>Location: {{characterDetails.origin | json}}</p>
					<p>First appearance: {{characterDetails.episode | slice:0:1}}</p>
					<p>Episodes</p>
					<p *ngFor="let episode of characterDetails.episode">{{episode}}</p>
					<p>Created: {{characterDetails.created | date}} </p>
				</ng-container>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div>
